@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Pacientes";
}

<h1>Lista de Pacientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model.Pacientes)
        {
            <tr>
                <td>@paciente.Nome</td>
                <td>@paciente.Idade</td>
                <td>@paciente.Email</td>
            </tr>
        }
    </tbody>
</table>
